@model CoursePickData.Models.Student

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    main {
        display: grid;
        grid-template: 70vh auto / repeat(3, 1fr);
        grid-template-areas: "fig info info"
                             "courses courses courses";
    }

    main > figure {
        grid-area: fig;
    }

    main > #info {
        grid-area: info;
        align-items: center;
        justify-content: center;
    }

    #courses {
        grid-area: courses;
        flex: 1 1 30vh;
        align-self: flex-start;
        grid-template: 1fr / repeat(4, 1fr);
        gap: 20px;
    }

    #courses > a {
        all: unset;
        color: var(--main-text-color);
        background-color: var(--lighter-main-bg-color);
        border-radius: 10%;
    }

    #courses > a:hover {
        color: var(--secondary-text-color);
        background-color: var(--secondary-bg-color);
        border-radius: 20%;
        transition: all 0.4s ease-out;
    }

    img {
        width: 300px;
        height: 400px;
    }
</style>

<figure>
    <h1>@Model.Surname @Model.Name</h1>
    <img src="../../@Model.ImagePath" />
</figure>

<section id="info" class="flex flex-column">
    <h2>Email: @Model.Email</h2>
    <p>@Model.Resume</p>
</section>

<section id="courses" class="flex flex-wrap">
    @foreach (var course in Model.Courses)
    {
        <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">
            <h2>@course.Title</h2>

            <h3>Type: @course.Duration</h3>
            <h3>Max Students: @course.MaxStudents</h3>
            <h3>Duration: @course.Duration.TotalHours hours</h3>
        </a>
    }
</section>